/*** MEDIA QUERY - MOBILE FIRST ***/
/*(min-width=da valore fino a infinito)*/

/* @media all and (min-width: 576px) {}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1400px) {} */

/*** MEDIA QUERY - DESKTOP FIRST ***/
/*(max-width=da 0 fino a valore)*/

/* @media all and (max-width: 1400px) {}

@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 576px) {} */


@media screen and (min-width: 768px) {
  h2 {
    font-size: 5em;
  }

  /* INFO */

  #info .content-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #info .content-container .card {
    width: calc((100% - 120px) / 3)
  }

  #info .content-container .card:first-child {
    width: calc(((100% - 80px) / 3) * 2)
  }

  #info .content-container .card:first-child .img-container {
    width: 60%;

  }

  /*CUSTOM-APP*/

  /*TESTIMONIALS*/

  #testimonials .card {
    flex-direction: row;
  }

  #testimonials .card .text-container {
    text-align: left;
  }

  /*WORK-WITH-US*/

  #work-with-us .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #work-with-us .card-container .card {
    width: calc((100% - 30px) / 2);
  }

  /*ABOUT-US*/
  #about-us .content-container {
    flex-direction: row;
  }

  #about-us .content-container .text-container .open-quote {
    top: 0;
    left: 130px;
    font-size: 15em;
  }

  /*GET-STARTED + FOOTER*/
  #get-started .content-container,
  footer .content-container {
    max-width: 800px;
  }


}





@media screen and (min-width: 1200px) {
  .content-container {
    max-width: 1200px;
  }

  /*HEADER*/

  header nav .fa-bars {
    display: none
  }

  header nav ul {
    display: block;
    position: relative;
    width: auto;
  }

  header nav ul li {
    display: inline;
    margin: 0 5px 0 0
  }

  header nav ul li:last-child {
    background-color: white;
  }

  header nav ul li:last-child a {
    color: black;
  }

  /*INFO*/
  #info .content-container .card:first-child {
    display: flex;
  }

  #info .content-container .card:first-child .img-container {
    width: 50%;
    align-self: flex-end;
    padding: 0;
  }

  #info .content-container .card:first-child .text-container {
    width: 50%;
  }

  #info .content-container .card:first-child .text-container h3 {
    font-size: 1.8em;
  }

  #info .content-container .card:first-child .text-container span {
    font-size: 1.4em;
  }

  /*CUSTOM-APP*/

  #custom-app .content-container {
    flex-direction: row;
    align-items: flex-end;
  }

  #custom-app .content-container .card {
    width: calc((100% - 30px) / 2)
  }

  #custom-app .content-container .card:nth-child(2) .img-container {
    width: 60%;
    margin: 0 auto;
  }

  #custom-app .content-container .card h2 {
    font-size: 3em;
  }
}